<app-breadcrumb></app-breadcrumb>

<div class="container-fluid px-4 mt-4">
  <!-- Card principal -->
  <div class="card categoria-card shadow-sm border-0 rounded-4">
    <div class="card-body">
      <!-- Encabezado -->
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 class="card-title mb-0 text-dark fw-semibold">
          Productos de la Categoría: {{ categoria }}
        </h5>
        <span class="badge bg-info text-dark px-3 py-2 shadow-sm">
          Tienda: {{ idTienda }}
        </span>
      </div>

      <!-- Botones -->
      <div class="d-flex justify-content-between align-items-center mb-4">
        <div></div>
        <div class="d-flex gap-2">
          <button class="btn btn-outline-danger" (click)="reiniciarInventarioCategoria()">
            Reiniciar inventario
          </button>
          <button class="btn btn-outline-success" (click)="descargarCSVDetalle()">
            Descargar CSV
          </button>
        </div>
      </div>

      <!-- Tabla -->
      <div class="table-responsive" *ngIf="productos.length > 0; else sinDatos">
        <table class="table align-middle table-hover text-center">
          <thead class="table-light">
            <tr>
              <th>Código</th>
              <th>Producto</th>
              <th>Categoría</th>
              <th>Stock Teórico</th>
              <th>Stock Físico</th>
              <th>Faltantes</th>
              <th>Sobrantes</th>
              <th>Progreso</th>
              <th>Detalle</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of productos">
              <td>{{ p.idProducto }}</td>
              <td>{{ p.producto }}</td>
              <td>{{ p.categoria }}</td>
              <td>{{ p.stockTeorico }}</td>
              <td>{{ p.stockFisico }}</td>
              <td>{{ p.stockTeorico > p.stockFisico ? (p.stockTeorico - p.stockFisico) : 0 }}</td>
              <td>{{ p.stockFisico > p.stockTeorico ? (p.stockFisico - p.stockTeorico) : 0 }}</td>
              <td>
                <div class="progress-container">
                  <div
                    class="progress-bar"
                    [style.width.%]="getPorcentaje(p.stockFisico, p.stockTeorico)">
                    {{ getPorcentaje(p.stockFisico, p.stockTeorico) | number:'1.0-0' }}%
                  </div>
                </div>
              </td>
              <td>
                <button class="btn btn-sm btn-primary" (click)="verDetalleProducto(p.idProducto)">
                  Ver
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <!--Paginación-->
        <div class="d-flex justify-content-between align-items-center mt-4">
          <button class="btn btn-outline-primary rounded-pill" 
          (click)="prevPage()">
            Anterior
          </button>

          <div class="fw-semibold text-muted text-center flex-grow-1">
            Página {{currentPage}} de {{ Math.ceil(productos.length / pageSize) }} |
            {{ (currentPage - 1) * pageSize + 1 }} -
            {{ Math.min(currentPage * pageSize, productos.length) }} de
            {{ productos.length }} productos
          </div>  

          <button class="btn btn-outline-primary rounded-pill" 
          (click)="nextPage()" >
            Siguiente
          </button>
        </div>
      </div>

      <!-- Sin datos -->
      <ng-template #sinDatos>
        <div class="text-center text-muted mt-3">
          No hay productos disponibles para esta categoría en la tienda.
        </div>
      </ng-template>
    </div>
  </div>
</div>
