<div class="container-fluid px-4 mt-4">
  <!-- Card principal -->
  <div class="card tag-card shadow-sm border-0 rounded-4">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 class="card-title mb-0 text-dark fw-semibold">Listado de Tags</h5>
        <span class="badge bg-primary text-white px-3 py-2 shadow-sm">
          Total tags: {{ tagsFiltradas.length }}
        </span>
      </div>

      <!-- Buscador -->
      <div class="input-group mb-3 shadow-sm rounded-4 overflow-hidden">
        <input
          type="text"
          class="form-control border-0"
          placeholder="Buscar por TAG, EAN o tienda..."
          [(ngModel)]="filtro"
          (input)="filtrarTags()"
        />
        <button class="btn btn-primary" (click)="filtrarTags()">
          <i class="bi bi-search"></i>
          Buscar
        </button>
      </div>

      <!-- Tabla -->
      <div class="table-responsive">
        <table class="table align-middle table-hover text-center">
          <thead class="table-light">
            <tr>
              <th>ID Tienda</th>
              <th>TAG</th>
              <th>EAN</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody>
            <!--<tr *ngFor="let tag of tagsFiltradas">-->
              <tr *ngFor="let tag of tagsPaginadas">
              <td>{{ tag.idTienda }}</td>
              <td>{{ tag.tag }}</td>
              <td>{{ tag.ean }}</td>
              <td>{{ tag.fecha | date: 'short' }}</td>
            </tr>
          </tbody>

          <!--totales-->
          <!--<tfoot class="table-secondary fw-semibold">
            <tr colspan="4" class="text-end">
              <td colspan="4">
                Total de tags: {{ tagsPaginadas.length }}/{{ tagsFiltradas.length }}
              </td>
            </tr>
          </tfoot>-->
        </table>

        <!-- Paginación -->
        <div class ="d-flex justify-content-between align-items-center mt-3">
          <div class="btn btn-outline-primary btn-sm rounded-pill"
          (click)="prevPage()">
            Anterior
          </div>

          <div class="fw-semibold text-muted text-center flex-grow-1">
            Página {{ currentPage }} de {{ Math.ceil(tagsFiltradas.length / pageSize) }} |
            <!--Mostrando {{ tagsPaginadas.length }} de {{ tagsFiltradas.length }} tags-->
            {{ (currentPage - 1) * pageSize + 1 }} -
            {{ Math.min(currentPage * pageSize, tagsFiltradas.length) }} de
            {{ tagsFiltradas.length }} tags
          </div>

          <div class="btn btn-outline-primary btn-sm rounded-pill"
          (click)="nextPage()">
            Siguiente
          </div>
        </div>

      <!-- Sin datos -->
      <div *ngIf="tagsFiltradas.length === 0" class="text-center text-muted mt-3">
        No hay tags disponibles.
      </div>

      <!-- Error -->
      <div *ngIf="error" class="text-danger text-center mt-3">
        {{ error }}
      </div>
    </div>
  </div>
</div>
