<h2>Inventario Teórico - Tienda {{ idTienda }}</h2>


<div class="selector-container">
  <label for="tiendaSelect">Seleccionar tienda:</label>
  <select id="tiendaSelect" [(ngModel)]="idTienda" (change)="obtenerInventario()">
    <option *ngFor="let tienda of tiendas" [value]="tienda.codigo">{{ tienda.nombre }}</option>
</select>
</div>

<div class="boton-descarga-container">
  <button (click)="descargarCSV()">Descargar CSV</button>
</div>

<!-- Progreso de lectura -->
<div class="progreso-container" *ngIf="inventario.length > 0">
  <label>Progreso de lectura:</label>
  <div class="barra-progreso">
    <div class="barra-relleno" [style.width.%]="progresoTeorico">{{ progresoTeorico }}%</div>
  </div>
</div>


<table *ngIf="inventario.length > 0; else sinDatos">
  <thead>
    <tr>
      <th>ID Producto</th>
      <th>Tienda</th>
      <th>Producto</th>
      <th>Categoría</th>
      <th>Stock Teórico</th>
      <th>Stock Físico</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of inventario">
      <td>{{ item.idProducto }}</td>
      <td>{{ item.tienda }}</td>
      <td>{{ item.producto }}</td>
      <td>{{ item.categoria }}</td>
      <td>{{ item.cantidad }}</td>
      <td>{{ item.cantidadLectura }}</td>
    </tr>
  </tbody>
</table>

<ng-template #sinDatos>
  <p>No hay datos de inventario para esta tienda.</p>
</ng-template>
