<nav class="navbar">

  <div class="logo">
    <img src="assets/LOGORFIDinventory.png" alt="Logo" width="200" />
  </div>

  <div class="menu-links" *ngIf="loggedIn">

    <!-- Inicio siempre -->
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Inicio
    </a>

    <!-- ADMIN -->
    <a *ngIf="loggedIn && isAdmin"
       routerLink="/tiendas"
       routerLinkActive="active">
       Tiendas
    </a>

    <a *ngIf="loggedIn && isAdmin"
       routerLink="/productos"
       routerLinkActive="active">
       Productos
    </a>

    <a *ngIf="loggedIn && isAdmin"
       routerLink="/tags"
       routerLinkActive="active">
       Tags
    </a>

    <!-- ADMIN y USER -->
    <a *ngIf="loggedIn && (isAdmin || isUser)"
       routerLink="/inventario/categorias"
       routerLinkActive="active">
       Conteo
    </a>

  </div>

</nav>